@charset "UTF-8";
body {
  font-family: Tahoma, Arial, sans-serif;
  background:url(https://airport.ttchotels.com/uploads/images/tin-tuc/thao-cam-vien-xua-11.jpg) center no-repeat;
  background-size:cover;
  margin: 0;
  padding:0;
  height: 100vh;
}
body:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.9)
}
h1 {
  color: #111;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.wrapper {
  background: #eaeaea;
  height: 100vh;
  padding-top: 12px;
  position: relative;
}

.btn-wrap {
  display: inline-block;
  transition: all 0.75s ease;
  position: relative;
  padding: 10px;
}
@media (min-width: 600px) {
  .btn-wrap {
    left: 25%;
	top:50%;
    margin: auto;
    margin-top: -50px;
    position: absolute;
  }
}

.tricky {
  left: 60%;
  z-index: 50;
}
.tricky:after {
  background-color: #cc0000;
  border-bottom-color: #ae0000;
}
.tricky .btn {
  background: #f0f0f0;
  border-bottom: 5px solid #ddd;
  color: #111;
}
.tricky .btn:hover {
  border-bottom: 3px solid #eee;
}
.tricky .btn span:before {
  content: "Không bao giờ";
}
.tricky.active {
  height: 50px;
  filter: brightness(1.4);
}
.tricky.active span {
  font-size: 22px;
}
.tricky.active span:before {
  content: "Bắt tui đi !!!";
}
.tricky.active:before {
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.15);
  width: 60px;
  height: 60px;
  left: -5px;
  top: -5px;
}
.tricky.active:after {
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
  left: -10px;
  top: -10px;
  width: 70px;
  height: 70px;
}

.btn {
  color: #fff;
  background: #1f66f5;
  border-bottom: 5px solid #1e46f5;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: inline-block;
  min-height: 60px;
  position: relative;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s ease;
}
.btn:hover {
  border-bottom: 3px solid #1e26f5;
  box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.25);
  filter: brightness(1.2);
  margin-top: 2px;
}
.btn span {
  padding: 0px 20px;
  font-size: 18px;
  line-height: 10px;
  display: inline-block;
  transition: all 0.25s ease;
  position: relative;
  top: 26px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*popup1*/
.overlay {
  position: absolute;
  z-index: 999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  top: 0px;
}

.popup {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #1e46f5;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: red;
  transform: rotate(90deg);
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}