* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  font-family: sans-serif;
  color: #000;
  margin: 0;
}
.tabs-content .swiper-container {
  width: 100%;
  height: 300px;
}
.tabs-content .swiper-slide {
  padding: 1rem 2rem;
}
.tabs-buttons {
  height: auto;
  box-shadow: inset 0 -2px #e6e6e6;
}
.tabs-buttons .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}
.tabs-buttons .swiper-slide {
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.tabs-buttons .active-tab {
  opacity: 1;
  border-bottom-color: red;
}